In [2]:
import pandas as pd


#vendas_df['coluna_x'] -> uma lista com os valores da coluna_x (em formato dataframe, é um dataframe com 1 coluna só)
#vendas_df[0] -> NÃO FUNCIONA ASSIM PARA DATAFRAMES
#vendas_df[:3] -> pega até a linha de índice 3 do dataframe
#vendas_df[['coluna_x', 'coluna_y', 'coluna_z']] -> cria um novo dataframe com as colunas coluna_x, coluna_y e coluna_z
#vendas_df['coluna_x'][0] -> pega o itemd a 1ª linha da coluna coluna_x

# sep --- tira virgulas tabela 
## .info --- demostra todas informacoes que tem na sua base de dados 


vendas_df = pd.read_csv(r'C:\Users\mauyr\OneDrive\Área de Trabalho\Aulas python\Contoso - Vendas  - 2017.csv', sep = ';')
produtos_df = pd.read_csv(r'C:\Users\mauyr\OneDrive\Área de Trabalho\Aulas python\Contoso - Cadastro Produtos.csv', sep = ';')
lojas_df = pd.read_csv(r'C:\Users\mauyr\OneDrive\Área de Trabalho\Aulas python\Contoso - Lojas.csv', sep = ';')
clientes_df = pd.read_csv(r'C:\Users\mauyr\OneDrive\Área de Trabalho\Aulas python\Contoso - Clientes.csv', sep = ';')

display(vendas_df)
display(produtos_df)
display(lojas_df)
display(clientes_df)


## excluindo colunas com drop, .drop e infomra as colunas a retirar, axis 1 (coluna)
clientes_df = clientes_df.drop(['Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10'] axis = 1)


###SELECIONANDO COLUNAS QUE DESEJA PARA ANALISE DE DADOS 
clientes_df = clientes_df[['ID Cliente', 'E-mail' ]]
produtos_df = produtos_df[['ID Produto', 'Nome do Produto']]
lojas_df = lojas_df[['ID Loja', 'Nome da Loja']]
display(clientes_df)

#MESCLANDO COLUNAS PARA ANALISE DE DADOS MÉTODO ()MERGE 0n = coluna que deseja juntar 

vendas_df = vendas_df.merge(produtos_df, on= 'ID Produto')
vendas_df = vendas_df.merge(lojas_df, on= 'ID Loja')
vendas_df = vendas_df.merge(clientes_df, on= 'ID Cliente')
display(vendas_df)

##renomer nome de colunas 
#vendas_df = vendas_df.rename(columns={'E-mail':'E-mailCliente'})
#display(vendas_df)

##ALGUMAS ANALISES DE DADOS ###

##QUAL CLIENTE COMPROU MAIS 

# .value_counts() soma a quantidade de valor sobre a coluna 

frequencia_cliente = vendas_df['E-mail'].value_counts()
display(frequencia_cliente)

###PLATANDO EM GRAFICO # [:5] os 5 primeiros; figsize aumenta o grafico conforme sua solicitacao 

frequencia_cliente[:5].plot(figsize = (15,5), kind = 'bar')

SyntaxError: invalid syntax (<ipython-input-2-4553ac1cd0cf>, line 26)

#ANALISAR QUAL LOJA VENDEU MAIS

In [25]:
vendas_lojas = vendas_df.groupby('Nome da Loja').sum()
vendas_lojas = vendas_lojas[['Quantidade Vendida']]
display(vendas_lojas)

                          Quantidade Vendida
Nome da Loja
Loja Contoso Albany                    26353
Loja Contoso Alexandria                26247
Loja Contoso Amsterdam                 28294
Loja Contoso Anchorage                 27451
Loja Contoso Annapolis                 26065
...                                      ...
Loja Contoso Yokohama                  28023
Loja Contoso York                      27164
Loja Contoso koln No.1                 29046
Loja Contoso koln No.2                 29650
Loja Contoso obamberg                  29336

[306 rows x 1 columns]

#ordenando por valores
#ascending ordena de forma decrescente
vendas_lojas = vendas_lojas.sort_values('Quantidade Vendida', ascending = False)
display(vendas_lojas)
#podemos plotar em um gráfico, apenas as 5 primeiras [:5]
vendas_lojas[:5].plot(figsize=(15, 5), kind='barh',)

In [31]:
#pegando o maior valor e se índice 
maior_valor = vendas_lojas['Quantidade Vendida'].max()
melhor_loja = vendas_lojas['Quantidade Vendida'].idxmax()
print(melhor_loja, maior_valor)

#produto que menos vendeu, pegando ultimo item da tabela

vendas_lojas[-1:]

Loja Contoso Catalog  1029117

                       Quantidade Vendida
Nome da Loja
Loja Contoso Venezia                  234

### FILTRANDO DADOS NAS DATAFRAMES