In [3]:
import pandas as pd
    
nubank_df = pd.read_csv(r'./nubank-2021-05.csv')    
display(nubank_df)

          date      category                   title   amount
0   2021-04-05  supermercado   Enxuto Lj 08 Campinas   102.34
1   2021-04-05          casa         Roldao Campinas    60.56
2   2021-04-05           NaN       Crédito de atraso -2859.20
3   2021-04-05           NaN         Saldo em atraso  2859.20
4   2021-04-06      serviços          Produtos Globo    22.90
5   2021-04-08           NaN      Pagamento recebido -2859.20
6   2021-04-08           NaN         Juros de atraso    40.39
7   2021-04-08           NaN           IOF de atraso    11.62
8   2021-04-08           NaN         Multa de atraso    57.40
9   2021-04-09          casa     Jair Conda da Silva   110.00
10  2021-04-09          casa           Tenda Atacado    49.87
11  2021-04-12  supermercado   Enxuto Lj 08 Campinas   236.99
12  2021-04-14  supermercado   Enxuto Lj 08 Campinas   148.46
13  2021-04-14   restaurante       Padaria Corcovado    20.89
14  2021-04-15  supermercado   David Jose Pereira de    32.00
15  2021-04-15  supermercado  Luvi Comercio de Carne    30.89
16  2021-04-16  supermercado   Enxuto Lj 08 Campinas   148.28
17  2021-04-22  supermercado   Enxuto Lj 08 Campinas   129.27
18  2021-04-24  supermercado   Enxuto Lj 08 Campinas   116.19
19  2021-04-24         saúde        Drogaria Astolfo    40.77
20  2021-04-24      serviços        Chale das Chaves    40.00
21  2021-04-26  supermercado           Jcara S L Epp    17.76

In [6]:
# tqdm #Saber quanto tempo esta demorando seu codigo
import time
from tqdm import tqdm

#position e leave coloca tudo em uma brra só 
pbar = tqdm(total=len(nubank_df['amount']), position = 1, leave= True)
            

for i, categoria in enumerate(nubank_df['amount']):
    pbar.update()
    if categoria == 110.00:
        nubank_df.loc[i, 'category',] = 'ANULAR'
        time.sleep(0.4)
display(nubank_df)

  0%|                                                                                           | 0/22 [00:00<?, ?it/s]
 50%|█████████████████████████████████████████                                         | 11/22 [00:00<00:00, 27.13it/s]

          date      category                   title   amount
0   2021-04-05  supermercado   Enxuto Lj 08 Campinas   102.34
1   2021-04-05          casa         Roldao Campinas    60.56
2   2021-04-05           NaN       Crédito de atraso -2859.20
3   2021-04-05           NaN         Saldo em atraso  2859.20
4   2021-04-06      serviços          Produtos Globo    22.90
5   2021-04-08           NaN      Pagamento recebido -2859.20
6   2021-04-08           NaN         Juros de atraso    40.39
7   2021-04-08           NaN           IOF de atraso    11.62
8   2021-04-08           NaN         Multa de atraso    57.40
9   2021-04-09        ANULAR     Jair Conda da Silva   110.00
10  2021-04-09          casa           Tenda Atacado    49.87
11  2021-04-12  supermercado   Enxuto Lj 08 Campinas   236.99
12  2021-04-14  supermercado   Enxuto Lj 08 Campinas   148.46
13  2021-04-14   restaurante       Padaria Corcovado    20.89
14  2021-04-15  supermercado   David Jose Pereira de    32.00
15  2021-04-15  supermercado  Luvi Comercio de Carne    30.89
16  2021-04-16  supermercado   Enxuto Lj 08 Campinas   148.28
17  2021-04-22  supermercado   Enxuto Lj 08 Campinas   129.27
18  2021-04-24  supermercado   Enxuto Lj 08 Campinas   116.19
19  2021-04-24         saúde        Drogaria Astolfo    40.77
20  2021-04-24      serviços        Chale das Chaves    40.00
21  2021-04-26  supermercado           Jcara S L Epp    17.76